.Topic {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 250;
  font-size: 40px;
  color: white;
}
.officialAdvice {
background: content-box aquamarine;
}

.image-container {
  background: content-box green;
  text-align: center;
}
img {
  display: block; 
  width: 400px;         
  height: 400px;        
  margin: 0 auto;      
}

.remediesList{
  background: content-box aquamarine;
}

.Video {
  text-align: center;
  background: content-box green;
}