.Topic {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.Solutions {
  border-radius: 8px;
  padding: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Solutions li {
  margin-bottom: 10px;
  list-style-type: square;
  margin-left: 0;
  padding-left: 0;
  list-style-position: inside;
}