.List {
    background-color: #A7BEA9;
    border-radius: 8px;
}

.List h1 {
    color: #FFFF;
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
    font-style: italic;
    margin-bottom: 50px;
}

.List .sections {
    font-family: 'Courier New', Courier, monospace;
    margin: 10px;
}

.buttonPdf {
    display: flex;
    justify-content: center; 
    align-items: center;     
    width: 100%; 
}

.buttonPdf button {
    height: 30px;
    margin-top: 25px;
    margin-bottom: 10px;
    background-color: #0084CE;
    color: white;
    text-align: center;
    justify-content: center; 
    align-items: center; 
    font-family: 'Courier New', Courier, monospace;
}

